# General
.backups
.cache
.DS_Store
.npmrc
.yarnrc
build
dist
Icon\r
*.log
node_modules
report.*
tailwind.css

# Framer
.config.json
.framer-lock
*.framerxproj

# Parcel
.parcel-cache

# Storybook
build-storybook
