# General
.backups
.cache
.DS_Store
.npmrc
.yarnrc
build
dist
Icon\r
node_modules
report.*
yarn-error.log

# Framer
.config.json
.framer-lock
.project.log
*.framerxproj

# Parcel
.parcel-cache

# Storybook
build-storybook